#mainNav {
	background-color: gray;
	height: 60px;
}

#navText {
	color: white;
}

.gridLayout {
	padding-left: 50px;
}

.grid-header {
    height: 50px;
    margin: 5px;
    border: 2px solid brown;
    border-radius: 4px;
    background-color: greenyellow;
}

.grid {
	height: 100px;
	margin: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 4px;
	background-color: red;
	/*background-image: url(../images/master10_background.gif);*/
	background-size: cover;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

.grid:hover {
	cursor: pointer;
	opacity: 0.8;
}

.value {
	margin-top: 35px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#podiumBackground {
	background-color: gray;
	margin-top: 5px;
}

#podium{
	height: 400px;
	background-color: yellow;
	margin: 5px;
}

.questionCard {
    margin: 10px;
    height: 90px;
    width: 95%;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

#question {
    display: flex;
	align-items: center;
	justify-content: center;
}

.answers {
    margin: 10px;
    height: 60px;
    width: 95%;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

#ans1 {
    display: flex;
	align-items: center;
	justify-content: center;
}

#ans2 {
    display: flex;
	align-items: center;
	justify-content: center;
}

#ans3 {
    display: flex;
	align-items: center;
	justify-content: center;
}

#ans4 {
    display: flex;
	align-items: center;
	justify-content: center;
}

#scoreCard {
	height: 80px;
	background-color: red;
	margin: 5px;

}

#scoreHead {
    display: flex;
	align-items: center;
	justify-content: center;
}

#score {
    display: flex;
	align-items: center;
	justify-content: center;
}

#previousCard {
	height: 80px;
	background-color: green;
	margin: 5px;
}

#previousHead {
    display: flex;
	align-items: center;
	justify-content: center;
}

#previous {
    display: flex;
	align-items: center;
	justify-content: center;
}

#above {
	background-color: gray;
}

#below {
	background-color: teal;
}